#root {
  margin: 0 auto;
}



.img-icon {
  width: 40px;
  height: 40px;
}

.img-empty-message {
  width: 180px;
  height: 164px;
}

.button {
  background-color: #0A7CFF !important;
  border: 0px !important;
}

.input {
  background-color: #ffffff38 !important;
  border-color: rgba(255, 255, 255, 0.7) !important;
  padding: 0.6rem 0.75rem !important;
  color: white !important;
}

.input-checkbox {
  width: 326px !important;
  background-color: #545F71 !important;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}

.info_empty {
  margin-top: 64px !important;
}

.illustration_empty {
  margin-top: 24px !important;
}

.span-button {
  background-color: #0A7CFF !important;
}

.span-button-completed {
  background-color: #0A7CFF !important;
}

.task-item {
  background-color: #5f6a7a;
  border-radius: 0.5rem;
  padding: 0.75rem 1.25rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.875rem;
}

.task-label {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-grow: 1;
  cursor: pointer;
}

.task-label input[type="checkbox"] {
  margin: 0;
}

.task-label span {
  user-select: text;
}

.checkbox-custom {
  width: 1.25rem;
  height: 1.25rem;
  border: 1px solid white;
  accent-color: #0f7aff;
}

.task-completed .form-control {
  text-decoration: line-through;
  opacity: 0.7;
}

.task-completed {
  opacity: 0.9;
}

.deleteBtn {
  color: white;
  cursor: pointer !important;
}

.deleteBtn:hover {
  color: #F74B66;
  cursor: pointer !important;
}

.form-list-task {
  background-color: #5f6a7a !important;
  border: none !important;
  color: white !important;
  height: 0 !important;
  min-height: 26px !important;
}

.form-list-task:focus {
  box-shadow: none !important;
}

/* Media queries for larger screens */
@media (min-width: 320px) {
  .elementor-section {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }
}

@media (min-width: 768px) {
  /* Styles for tablets */
}

@media (min-width: 992px) {

  .elementor-section {
    padding-right: 18.5rem !important;
    padding-left: 18.5rem !important;
  }
}

@media (min-width: 1200px) {
  /* Styles for extra large screens */
}